@model Factory.Models.HomeIndexViewModel

@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to Dr. Sillystringz's Factory</h1>
  <p>Learn about Mechanical Engineering <a href="https://www.bls.gov/ooh/architecture-and-engineering/mechanical-engineers.htm#:~:text=Mechanical%20engineers%20design%20power%2Dproducing,such%20as%20elevators%20and%20escalators.">here</a>.</p>
</div>

<hr>

